@model szalkszop.ViewModels.ProductCategoryViewModel
@{
    ViewBag.Title = "CategoryForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("NewCategory", "Home"))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
	</div>
	<button type="submit" class="btn-primary btn-lg">@Model.Heading</button>
}
