@model szalkszop.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Home Page";
}

@foreach (var product in Model.Products)
{
	<li>@product.Id</li>
	<li>@product.Name</li>
	<li>@product.DateOfAdding</li>
}

<li>........................</li>


@foreach (var category in Model.ProductCategories)
{
	<li>@category.Id</li>
	<li>@category.Name</li>
}
