@model szalkszop.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Product List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Heading</h2>

@Html.ActionLink("Search for a product","ProductSearch", "Home")

<table cellpadding="10">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product category</th>
			<th>Amount in stock</th>
			<th>Date of adding</th>
			<th>Price</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model.Products)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.ProductCategory.Name</td>
				<td>@product.AmountInStock</td>
				<td>@product.DateOfAdding</td>
				<td>@product.Price</td>
				<td>@product.Description</td>	
			</tr>
		}
	</tbody>
</table>





