@model szalkszop.ViewModels.CreateOrderViewModel
@{
	ViewBag.Title = "Order";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make an order</h2>
<hr />

@using (Html.BeginForm("MakeOrder", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.Name)
		@Html.TextBoxFor(m => m.UserContactDetails.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.Surname)
		@Html.TextBoxFor(m => m.UserContactDetails.Surname, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.Surname)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.Email)
		@Html.TextBoxFor(m => m.UserContactDetails.Email, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.Email)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.Address)
		@Html.TextBoxFor(m => m.UserContactDetails.Address, new { @class = "form-control", placeholder = "Address for shipping" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.Address)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.PostalCode)
		@Html.TextBoxFor(m => m.UserContactDetails.PostalCode, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.PostalCode)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.UserContactDetails.City)
		@Html.TextBoxFor(m => m.UserContactDetails.City, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.UserContactDetails.City)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.DeliveryType)
		@Html.DropDownListFor(m => m.DeliveryType.Id, new SelectList(Model.DeliveryTypes, "Id", "ListDisplayName", Model.DeliveryType), "Select delivery type", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.DeliveryType.Id)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PaymentMethod)
		@Html.DropDownListFor(m => m.PaymentMethod.Id, new SelectList(Model.PaymentMethods, "Id", "ListDisplayName", Model.PaymentMethod), "Select payment method", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.PaymentMethod.Id)
	</div>

	<br />

	<button type="submit" value="Save" class="btn btn-primary" data-target="#myModal">Confirm Order</button>
}

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="alert alert-success" role="alert">
					<p>Order <strong>successful!</strong></p>
					<p>Order confirmation was sent to your email address.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
			</div>
		</div>
	</div>
</div>


