@using szalkszop.DTO;
@model	IEnumerable<OrderDto>
@{
	ViewBag.Title = "Orders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table cellpadding="10">
	<thead>
		<tr>
			<th>Order Id</th>
			<th>Order Date</th>
			<th>Status</th>
			<th>Total Price</th>
			<th>Shipping Address</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var order in Model)
		{
		<tr>
			<td><a href="@Url.Action("Details", "Order", new { area = string.Empty }, FormMethod.Post, new { orderId = order.OrderId }</a></td>
			<td>@order.OrderDate</td>
			<td>@order.Status</td>
			<td>@order.TotalPrice</td>
			<td>@order.ShippingAddress</td>
		</tr>
		}
	</tbody>
</table>

