@model szalkszop.ViewModels.MyOrdersViewModel
@{
	ViewBag.Title = "Orders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My orders</h2>
<hr />

@if (Model.OrderMade == true)
{
	<div class="alert alert-success" role="alert">
		<strong>Order placed.</strong> Confirmation was sent to your e-mail address.
	</div>
}

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Order №</th>
				<th>Order Date</th>
				<th>Status</th>
				<th>Payment Method</th>
				<th>Delivery Type</th>
				<th>Total Price [€]</th>
				<th>Shipping Address</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in Model.Orders)
			{
				<tr>
					<td><a href="@Url.Action("Details", "Order", new { area = string.Empty, id = order.Id })">@order.Id</a></td>
					<td>@order.OrderDate.ToString("dd MMM yyyy")</td>
					<td>@order.Status</td>
					<td>@order.PaymentMethod.Name</td>
					<td>@order.DeliveryType.Name</td>
					<td>@string.Format("{0:0.00}", order.TotalPrice)</td>
					<td>@order.ShippingAddress</td>
				</tr>
			}
		</tbody>
	</table>
</div>

