@model szalkszop.ViewModels.OrderListViewModel
@{
	Layout = null;
}

<h2>View</h2>


<table cellpadding="10">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product category</th>
			<th>Amount in stock</th>
			<th>Date of adding</th>
			<th>Price</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.UserContactDetails)
		{
			<tr>
				<td>@UserContactDetails.Name</td>
				<td>@product.ProductCategory.Name</td>
				<td>@product.AmountInStock</td>
				<td>@product.DateOfAdding</td>
				<td>@product.Price</td>
				<td>@product.Description</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = product.Id })
					<br />
					@Html.ActionLink("Delete", "Delete", new { id = product.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
<br />
@Html.ActionLink("Add a product", "Create")