@model szalkszop.ViewModels.AdminProductCategoryViewModel
@{
	ViewBag.Title = "CategoryForm";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "ProductCategory"))
{
	@Html.AntiForgeryToken()
		
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name of product category"})
		@Html.ValidationMessageFor(m => m.Name)
	</div>
	<button type="submit" value="Save" class="btn btn-primary">@(Model.Action == "Edit" ? "Update" : "Add")</button>
}
