@model szalkszop.ViewModels.CartViewModel
@{
	Layout = null;
}

<HEAD>
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</HEAD>

@if (Model.ItemList?.Any() ?? false)
{
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart (@(Model.ItemList.Count()))<span class="caret"></span></a>
		<ul class="dropdown-menu" id="cartDropDownMenu">
			<ul class="cart">
				@foreach (var item in Model.ItemList)
				{
					<li>
						<div class="photo">
							@if (item.Product.Images.Any())
							{
								<img src="~/Images/@item.Product.Images.FirstOrDefault().ThumbNailName" alt="Product image" height="66" width="100">
							}
							else
							{
								<img src="~/Images/no-image.jpg" alt="Product image" height="66" width="100">
							}
						</div>
						<div class="details">
							<span class="productname">
								@item.Quantity x @item.Product.Name
								<a href="@Url.Action("Remove", "Cart", new { id = item.Product.Id})"><i class="glyphicon glyphicon-remove-sign pull-right"></i></a>
							</span>
							<span class="productprice">
								@item.Product.Price €
							</span>
							<span class="addorremove">
								<a href="@Url.Action("Buy", "Cart", new { id = item.Product.Id} )" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i></a>
								<a href="@Url.Action("RemoveSingle", "Cart", new { id = item.Product.Id})" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus"></i></a>
							</span>
						</div>
						<div role="separator" class="divider"></div>
					</li>
				}
				<li class="summary">
					Total price: @(Model.ItemList.Sum(item => item.Product.Price * item.Quantity)) €
					<div role="separator" class="divider"></div>
				</li>
			</ul>
			<li>
				<a href="@Url.Action("MakeOrder", "Order", new { area = string.Empty })" class="btn btn-success" id="makeOrder">
					<strong>Make an order </strong><i class="glyphicon glyphicon-chevron-right"></i>
				</a>
			</li>
		</ul>
	</li>
}

else
{
	<li>
		<a href="#" role="button">Cart (0)</a>
	</li>
}
