@model szalkszop.ViewModels.ProductSearchModel
@{
	ViewBag.Title = "Search for a product";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Search for a product</h2>

@using (Html.BeginForm("Search", "Products"))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Id)
		@Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Id)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.DateTimeFrom)
		@Html.TextBoxFor(m => m.DateTimeFrom, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.DateTimeFrom)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.DateTimeTo)
		@Html.TextBoxFor(m => m.DateTimeTo, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.DateTimeTo)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PriceFrom)
		@Html.TextBoxFor(m => m.PriceFrom, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.PriceFrom)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PriceTo)
		@Html.TextBoxFor(m => m.PriceTo, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.PriceTo)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ProductCategory)
		@Html.DropDownListFor(m => m.ProductCategory.Id, new SelectList(Model.ProductCategories, "Id", "Name", Model.ProductCategory), "", new { @class = "form-control" })
	</div>
	<button type="submit" value="Save" class="btn btn-primary">Search</button>
}


