<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<meta name="description" content="Sklep internetowy" />
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img alt="SZAŁKSZOP" src="~/Images/logo.jpg" height="30" width="50" /></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
				<li>@Html.ActionLink("Products", "Index", "Product",new { area = string.Empty }, null)</li>
				<li>@Html.ActionLink("Categories", "Index", "ProductCategory", new { area = string.Empty }, null))</li>
				@if (User.IsInRole("Admin"))
				{
					<li>@Html.ActionLink("Admin Panel", "Index", "Admin")</li>
				}
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
<br/>
<br/>

<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<h3>Admin Panel</h3>
			<ul>
				<li>@Html.ActionLink("Manage Users", "Index", "User")</li>
				<li>@Html.ActionLink("Manage Products", "Index", "Product")</li>
				<li>@Html.ActionLink("Manage Categories", "Index", "ProductCategory")</li>
			</ul>	
		</div>
		<div class="col-lg-10">
			<div class="container body-content">
				@RenderBody()
				<hr/>
				<footer>
					<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
				</footer>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

