@model szalkszop.ViewModels.UserProductCategoryListViewModel
@{
	Layout = null;
}

<body>
<br />

<div id="left-column">
	@if (User.Identity.IsAuthenticated)
	{
	<div class="small-box left-nav-categories hidden-xs">
		<div class="inner-box title">
			<i id="title" class="glyphicon glyphicon-cog"></i><a href="#">&nbsp My account</a>
		</div>
		<div class="inner-box">
			<ul class="list">
				<li><a href="@Url.Action("Index", "Manage")"><i class="glyphicon glyphicon-user"></i>&nbsp Personal information</a></li>
				<li><a href="@Url.Action("MyOrders", "Order")"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp My orders</a></li>
			</ul>
		</div>
	</div>
	}

	<div class="small-box left-nav-categories hidden-xs">
		<div class="inner-box title">
			<i id="title" class="glyphicon glyphicon-list-alt"></i><a href="#">&nbsp Categories</a>
		</div>
		<div class="inner-box">
			<ul class="list">
				@foreach (var category in Model.ProductCategoryWithProductCountList)
				{
					<li><a href="@Url.Action("Products", "ProductCategory", new { categoryId = category.Id, area = string.Empty })"><i class="glyphicon glyphicon-tags"></i>&nbsp @category.Name</a></li>
				}
			</ul>
		</div>
	</div>

	@if (User.IsInRole("Admin"))
	{
	<div class="small-box left-nav-categories hidden-xs">
		<div class="inner-box title">
			<i id="title" class="glyphicon glyphicon-wrench"></i><a href="#">&nbsp Admin Panel</a>
		</div>
		<div class="inner-box">
			<ul class="list">
				<li><a href="@Url.Action("Index","User", new { area = "Admin" })"><i class="glyphicon glyphicon-user"></i>&nbsp Users</a></li>
				<li><a href="@Url.Action("Index","Product", new { area = "Admin" })"><i class="glyphicon glyphicon-barcode"></i>&nbsp Products</a></li>
				<li><a href="@Url.Action("Index","ProductCategory", new { area = "Admin" })"><i class="glyphicon glyphicon-list-alt"></i>&nbsp Categories</a></li>
				<li><a href="@Url.Action("Index","PaymentMethod", new { area = "Admin" })"><i class="glyphicon glyphicon-euro"></i>&nbsp Payment methods</a></li>
				<li><a href="@Url.Action("Index","DeliveryType", new { area = "Admin" })"><i class="glyphicon glyphicon-road"></i>&nbsp Delivery types</a></li>
				<li><a href="@Url.Action("Index","Order", new { area = "Admin" })"><i class="glyphicon glyphicon-shopping-cart"></i> &nbspOrders</a></li>
			</ul>
		</div>
	</div>
	}
</div>
</body>
