@model szalkszop.ViewModels.ProductsWithSearchViewModel
@{
	Layout = null;
}

<table cellpadding="10">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product category</th>
			<th>Amount in stock</th>
			<th>Date of adding</th>
			<th>Price</th>
			<th>Description</th>
			<th>Action</th>
			<th>Picture 1</th>
			<th>Picture 2</th>
			<th>Picture 3</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model.ProductsDto)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.ProductCategory.Name</td>
				<td>@product.AmountInStock</td>
				<td>@product.DateOfAdding</td>
				<td>@product.Price</td>
				<td>@product.Description</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = product.Id })
					<br />
					@Html.ActionLink("Delete", "Delete", new { id = product.Id })
				</td>
				<td>
					@if (product.ImageUploaded1 == true)
					{
						string imagePath1 = "Product" + product.Id + "File1.jpg";
						<img src="~/Images/@imagePath1" alt=@product.Name height="37" width="54">

						@Html.ActionLink("Delete", "DeletePhoto", new { id = product.Id, photo = "Delete1" })
					}
				</td>
				<td>
					@if (product.ImageUploaded2 == true)
					{
						string imagePath2 = "Product" + product.Id + "File2.jpg";
						<img src="~/Images/@imagePath2" alt=@product.Name height="37" width="54">

						@Html.ActionLink("Delete", "DeletePhoto", new { id = product.Id, photo = "Delete2" })
					}
				</td>
				<td>
					@if (product.ImageUploaded3 == true)
					{
						string imagePath3 = "Product" + product.Id + "File3.jpg";
						<img src="~/Images/@imagePath3" alt=@product.Name height="37" width="54">

						@Html.ActionLink("Delete", "DeletePhoto", new { id = product.Id, photo = "Delete3" })
					}
				</td>
			</tr>
		}
	</tbody>
</table>
<br />
@Html.ActionLink("Add a product", "Create")

