@model szalkszop.ViewModels.ProductViewModel
@{
	ViewBag.Title = "EditProduct";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.AmountInStock)
		@Html.TextBoxFor(m => m.AmountInStock, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.AmountInStock)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Price)
		@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Price)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description)
		@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Description)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ProductCategory)
		@Html.DropDownListFor(m => m.ProductCategory, new SelectList(Model.ProductCategoriesDto, "Id", "Name", Model.ProductCategoriesDto), "", new { @class = "form-control" })
	</div>

	<div>
		@Html.LabelFor(m => m.File)
		@Html.TextBoxFor(m => m.File, new { type= "file" })
	</div>

	<br />

	<button type="submit" value="Save" class="btn btn-primary">@Model.Heading</button>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}