@{
	Layout = null;
}

<table cellpadding="10">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product category</th>
			<th>Date of adding</th>
			<th>Price</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model.ProductsDto)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.ProductCategory.Name</td>
				<td>@product.DateOfAdding</td>
				<td>@product.Price</td>
				<td>@product.Description</td>
			</tr>
		}
	</tbody>
</table>
