@model szalkszop.ViewModels.ProductDetailViewModel
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details - @Model.Name</h2>
<hr />
<head>
	<script src="/Scripts/jquery-1.10.2.js"></script>
</head>

<div class="col-sm-5">
			@foreach (var image in Model.ProductImageList)
			{
				<span id="product-details-images">
					<a href="#" id="link1" data-toggle="modal" data-target="#myModal">
						<img src="~/Images/@image.ThumbNailName" id="img1" class="img-responsive" full-image="~/Images/@image.ImageName">
					</a>
				</span>
			}
	</div>

	<div class="col-sm-4">
		<div class="caption">
			<h4>Price: @Model.Price €</h4>
			<p>Description: @Model.Description</p>
			<p>Amount in stock: @Model.AmountInStock</p>
			<p>Date of adding: @Model.DateOfAdding.ToString("dd/MM/yyyy")</p>
			<p>Product ID: @Model.Id</p>
			@if (Model.AmountInStock > 0)
			{
				<p><a href="@Url.Action("Buy", "Cart", new { id = Model.Id })" class="btn btn-primary" role="button">To Cart</a></p>
			}
			else
			{
				<div class="btn btn-static" role="button">Not available</div>
			}
		</div>
	</div>

<div class="modal" id="myModal">
		<div class="modal-content" id="showImg">
		</div>
</div>

<script>
$(document).ready(function () {
		$('img').on('click', function () {
		$("#showImg").empty();
		var image = $(this).attr("full-image");
		$("#showImg").append("<img class='img-responsive' src='" + image + "' />")
	})
});
</script>


